In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp37-cp37m-win_amd64.whl (793 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp37-cp37m-win_amd64.whl (909 kB)
Requirement already satisfied: six>=1.9 in c:\users\ishwarya\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.25 protobuf-3.17.3

In [16]:
import mysql.connector as connections
mydb = connections.connect(host='localhost',user='root',passwd='ishu1sonu')
query = "SHOW DATABASES"
cursor = mydb.cursor()
cursor.execute(query)
cursor.fetchall()

[('employee',),
 ('glassdata',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

Creating DB

In [2]:
try:
    mydb = connections.connect(host='localhost',user='root',passwd='ishu1sonu')
    if (mydb.is_connected()):
        query = "CREATE DATABASE Employee"
        cursor = mydb.cursor()
        cursor.execute(query)
        print ("DB Created")
        mydb.close()       
except Exception as e:
    mydb.close()
    print (e)

1007 (HY000): Can't create database 'employee'; database exists

Creating Table

In [7]:
try:
    mydb = connections.connect(host='localhost',database='Employee',user='root',passwd='ishu1sonu')
    if (mydb.is_connected()):
        query = "CREATE TABLE EmpDetails( EmpId INT(10) AUTO_INCREMENT PRIMARY KEY, EmpName VARCHAR(60), Dept VARCHAR(20))"
        cursor = mydb.cursor()
        cursor.execute(query)
        print ("Table Created")
        mydb.close()       
except Exception as e:
    mydb.close()
    print (e)

Table Created

Insert Row

In [23]:
try:
    mydb = connections.connect(host='localhost',database='Employee',user='root',passwd='ishu1sonu')
    if (mydb.is_connected()):
        query = "INSERT INTO EmpDetails VALUES(103,'Sonu','ABU')"
        cursor = mydb.cursor()
        cursor.execute(query)
        cursor.execute("INSERT INTO EmpDetails VALUES(104,'Sunder','ABU')")
        print ("value inserted into Table")
        cursor.execute ("select * from EmpDetails;")
        for i in cursor.fetchall():
            print (i)
        mydb.commit()
        mydb.close()       
except Exception as e:
    mydb.close()
    print (e)

value inserted into Table
(100, 'Ishu', 'ABU')
(101, 'Sowmi', 'ABU')
(103, 'Sonu', 'ABU')
(104, 'Sunder', 'ABU')

In [3]:
import mysql.connector as connections
import pandas as pd

In [8]:
mydb = connections.connect(host='localhost',user='root',passwd = 'ishu1sonu')
if (mydb.is_connected()):
    query = "CREATE DATABASE GlassData"
    cursor = mydb.cursor()
    cursor.execute(query)
    dbs = cursor.fetchall()
    print (dbs)
    mydb.close()
else:
    mydb.close()
    print ("Issue in connecting..")

DatabaseError: 1007 (HY000): Can't create database 'glassdata'; database exists

In [45]:
mydb = connections.connect(host='localhost',user='root',passwd = 'ishu1sonu')

In [46]:
mydb.is_connected()

True

In [47]:
query = "SHOW DATABASES"
cursor = mydb.cursor()
cursor.execute(query)
cursor.fetchall()

[('employee',),
 ('glassdata',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [48]:
mydb = connections.connect(host='localhost',database='glassdata', user='root',passwd = 'ishu1sonu')

In [49]:
cursor= mydb.cursor()
cursor.execute("CREATE TABLE GlassData (Index_Number INT(5) PRIMARY KEY, RI FLOAT(10,5), Na FLOAT(10,5), Mg FLOAT(10,5) ,Al FLOAT(10,5), Si FLOAT(10,5), K FLOAT(10,5), Ca FLOAT(10,5), Ba FLOAT(10,5), Fe FLOAT(10,5), Class INT(5))")

ProgrammingError: 1050 (42S01): Table 'glassdata' already exists

In [51]:
cursor.execute("SHOW TABLES")

InternalError: Unread result found

In [31]:
import csv

In [ ]:
mydb = connections.connect(host='localhost',database = 'GlassData',user='root',passwd = 'ishu1sonu')
cursor = mydb.cursor()
with open(r'C:\Users\Ishwarya\Documents\iNeuron\iNeuron\DataBase_MySQL_Mongo\19.2.MySQL\19.2.MySQL\glass.data','r') as data:
    data_csv = csv.reader(data,delimiter='\n')
    for i in enumerate(data_csv):
        for j in i[1]:
            cursor.execute("INSERT INTO GlassData.GlassData VALUES ({data})".format(data=(j)))
mydb.commit()