In [4]:
import mysql.connector as connection

In [5]:
mydb = connection.connect(host='localhost',user='root',passwd='ishu1sonu')

In [6]:
cursor = mydb.cursor()
query = "CREATE DATABASE EmployeeSalary"
cursor.execute(query)
mydb.commit()

In [6]:
mydb = connection.connect(host='localhost',database='EmployeeSalary',user='root',passwd='ishu1sonu')
cursor = mydb.cursor()
query = "CREATE TABLE Salary(YearsExperience float(10,2),Salary float(10,2))"
cursor.execute(query)
table = cursor.fetchall()
print (table)
print ("Salary table created")

[]
Salary table created

In [7]:
import csv
with open(r"salaryData.csv",'r') as data:
    lines = csv.reader(data)
    next(lines)
    for line in enumerate(lines):
        print (line) 
        cursor.execute("INSERT INTO Salary(YearsExperience,Salary) VALUES(%s,%s)",line[1])
    print ("All data inserted")

(0, ['1.1', '39343.00'])
(1, ['1.3', '46205.00'])
(2, ['1.5', '37731.00'])
(3, ['2.0', '43525.00'])
All data inserted

In [8]:
mydb.commit()

In [45]:
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

(1.1, 39343.0)
(1.3, 46205.0)
(1.5, 37731.0)
(2.0, 43525.0)

In [12]:
cursor.execute("ALTER TABLE Salary ADD ID INT NOT NULL AUTO_INCREMENT PRIMARY KEY")
print ("Alter Table done")
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

Alter Table done
(1.1, 39343.0, 1)
(1.3, 46205.0, 2)
(1.5, 37731.0, 3)
(2.0, 43525.0, 4)

In [2]:
mydb = connection.connect(host='localhost',database='EmployeeSalary',user='root',passwd='ishu1sonu')
cursor = mydb.cursor(buffered=True)
cursor.execute("SELECT COUNT(*) FROM Salary")
value = cursor.fetchone()[0]
print (value)

4

In [13]:
cursor.execute("ALTER TABLE Salary ADD Company VARCHAR(10)")
print ("Alter Table done")
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

Alter Table done
(1.1, 39343.0, 1, None)
(1.3, 46205.0, 2, None)
(1.5, 37731.0, 3, None)
(2.0, 43525.0, 4, None)

In [15]:
cursor.execute("UPDATE Salary SET Company = 'ABC'")
print ("Updated company value")
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

Updated company value
(1.1, 39343.0, 1, 'ABC')
(1.3, 46205.0, 2, 'ABC')
(1.5, 37731.0, 3, 'ABC')
(2.0, 43525.0, 4, 'ABC')

In [16]:
cursor.execute("SELECT * FROM Salary where Salary > 40000")
for values in cursor.fetchall():
    print (values)

(1.3, 46205.0, 2, 'ABC')
(2.0, 43525.0, 4, 'ABC')

In [18]:
cursor.execute("SELECT * FROM Salary ORDER BY Salary")
for values in cursor.fetchall():
    print (values)

(1.5, 37731.0, 3, 'ABC')
(1.1, 39343.0, 1, 'ABC')
(2.0, 43525.0, 4, 'ABC')
(1.3, 46205.0, 2, 'ABC')

In [19]:
cursor.execute("SELECT * FROM Salary ORDER BY Salary DESC")
for values in cursor.fetchall():
    print (values)

(1.3, 46205.0, 2, 'ABC')
(2.0, 43525.0, 4, 'ABC')
(1.1, 39343.0, 1, 'ABC')
(1.5, 37731.0, 3, 'ABC')

In [27]:
cursor.execute("ALTER TABLE Salary auto_increment=100")
cursor.execute("INSERT INTO Salary (YearsExperience,Salary,Company) values(2.3,50000,'ABC')")
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

(1.1, 39343.0, 1, 'ABC')
(1.3, 46205.0, 2, 'ABC')
(1.5, 37731.0, 3, 'ABC')
(2.0, 43525.0, 4, 'ABC')
(2.3, 50000.0, 100, 'ABC')

In [30]:
cursor.execute("SELECT SUM(Salary),AVG(YearsExperience),MIN(Salary),MAX(Salary) FROM Salary")
for values in cursor.fetchall():
    print (values)

(216804.0, 1.64, 37731.0, 50000.0)

In [57]:
import csv
with open ("DeptData.csv",'r') as dept:
    data = csv.reader(dept)
    next(data)
    #cursor.execute("ALTER TABLE Salary ADD Dept VARCHAR(10)")
    for i in data:
        print (i)
        cursor.execute("INSERT INTO Salary(Dept) values(%s)",i)   
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

['ABU']
['BBU']
['CBU']
['ABU']
['BBU']
(1.1, 39343.0, 1, 'ABC', None)
(1.3, 46205.0, 2, 'ABC', None)
(1.5, 37731.0, 3, 'ABC', None)
(2.0, 43525.0, 4, 'ABC', None)
(2.3, 50000.0, 100, 'ABC', None)
(None, None, 101, None, 'ABU')
(None, None, 102, None, 'BBU')
(None, None, 103, None, 'CBU')
(None, None, 104, None, 'ABU')
(None, None, 105, None, 'BBU')

In [59]:
cursor.execute("DELETE from Salary where ID >= 101")   
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

(1.1, 39343.0, 1, 'ABC', None)
(1.3, 46205.0, 2, 'ABC', None)
(1.5, 37731.0, 3, 'ABC', None)
(2.0, 43525.0, 4, 'ABC', None)
(2.3, 50000.0, 100, 'ABC', None)

In [93]:
import csv
with open ('DeptData.csv','r') as dept:
    data = csv.reader(dept)
    next(data)
    for i in data:
        print (i[0],i[1])
        #cursor.execute("UPDATE Salary SET Dept =%s where ID = %d",i[1],i[0])
        #cursor.execute("UPDATE Salary SET Dept ={deptval} where ID = {idval}".format(deptval=i[1],idval=i[0]))
        cursor.execute("UPDATE Salary SET Dept ={} where ID = {}".format(i[1],i[0]))
mydb.commit()
cursor = mydb.cursor()
cursor.execute("SELECT * FROM Salary")
for values in cursor.fetchall():
    print (values)

1 ABU

ProgrammingError: 1054 (42S22): Unknown column 'ABU' in 'field list'